<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Subjects</a>
    <a class="py-2 d-none d-md-inline-block" href="files">Files</a>
    <a class="py-2 d-none d-md-inline-block" href="upload">Upload</a>
    <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
  </div>
</nav>

<header>
  <h1>Upload</h1>
  <p>Upload here your notes to share them with other students.</p>
  <p><strong>Write 1st the name and the description of the file before selecting it.</strong></p>
</header>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <h3>Name of the file</h3>
    <input [(ngModel)]="fileName">
  </div>
  <div class="col-md-4">
    <h3>Select the subject</h3>
    <select [(ngModel)]="selectedSubject">
      <option *ngFor="let s of subjects" [ngValue]="s.code">{{s.code}} -> {{s.data.name}}</option>
    </select>
  </div>
</div>
<h3>Description of the file</h3>
<textarea [(ngModel)]="description"></textarea>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="dropzone"
         dropZone
         (hovered)="toggleHover($event)"
         (dropped)="startUpload($event)"
         [class.hovering]="isHovering">
      <h3>Upload your notes</h3>
      <p>Drag and Drop here the file you wan't to upload</p>
      <div class="file">
        <label class="file-label">
          <input class="file-input" type="file" (change)="startUpload($event.target.files)">
          <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  or choose a file…
                </span>
              </span>
        </label>
      </div>
    </div>
  </div>
</div>
<div *ngIf="percentage | async as pct">
  <progress class="progress is-info"
            [value]="pct"
            max="100">
  </progress>
  {{ pct | number }}%
</div>

<div *ngIf="(snapshot | async) as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}


  <div *ngIf="downloadURL | async as url">
    <h3>Uploaded!</h3>
  </div>
  <hr>
  <!--<button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
  <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
  <button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button>-->
</div>
