<link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to Totapp</h1>
    <p class="lead">Please log in to start sharing your notes so that they can help others and you can look for the help of others.</p>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
      </div>
    </div>
  </main>
</div>
