<!--<link href="https://getbootstrap.com/docs/4.1/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">-->
<!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">TOTAPP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Subjects<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Upload</a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-md-0 logoutnav">
      <li class="nav-item">
        <button type="button" (click)="logout()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
      </li>
    </ul>
    <--<form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>->
  </div>
</nav>-->
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Subjects</a>
    <a class="py-2 d-none d-md-inline-block" href="files">Files</a>
    <a class="py-2 d-none d-md-inline-block" href="upload">Upload</a>
    <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
  </div>
</nav>
<header>
  <h1>Subjects</h1>
  <p>Browser through the subjects to look for the ones that you're interested in</p>
  <br>
</header>
<div class="container text-left">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="customer-table">
        <table class="table table-hover">
          <thead>
          <th>Code</th>
          <th>Name</th>
          <th>Semester</th>
          </thead>
          <tr *ngFor="let subject of subjects">
            <td><a href="/subjects/{{subject.code}}">{{subject.code}}</a></td>
            <td><a href="/subjects/{{subject.code">{{subject.data.name}}</a></td>
            <td><a href="">{{subject.data.semester}}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
